<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SystemSetup" value="Data Source=GUEV1400;Initial Catalog=CSV;User ID=GUEWEB; password=pass_word$1;"/> 
	</appSettings>
</configuration>

